PortafolioNet/packages/Oracle.ManagedDataAccess.12.2.1100/bin/x86/Oracle.ManagedDataAccessIOP.dll
PortafolioNet/packages/Oracle.ManagedDataAccess.12.2.1100/bin/x86/Oracle.ManagedDataAccessDTC.dll
PortafolioNet/packages/Oracle.ManagedDataAccess.12.2.1100/bin/x64/Oracle.ManagedDataAccessIOP.dll
PortafolioNet/packages/Oracle.ManagedDataAccess.12.2.1100/bin/x64/Oracle.ManagedDataAccessDTC.dll
PortafolioNet/PortafolioNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PortafolioNet/PortafolioNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PortafolioNet/PortafolioNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PortafolioNet/PortafolioNet/obj/Debug/PruebaConexionNET.pdb
PortafolioNet/PortafolioNet/obj/Debug/PruebaConexionNET.exe
PortafolioNet/PortafolioNet/obj/Debug/PruebaConexionNET.csprojResolveAssemblyReference.cache
PortafolioNet/PortafolioNet/obj/Debug/PruebaConexionNET.csproj.FileListAbsolute.txt
PortafolioNet/PortafolioNet/obj/Debug/PruebaConexionNET.csproj.CoreCompileInputs.cache
PortafolioNet/PortafolioNet/obj/Debug/PortafolioNet.csproj.CoreCompileInputs.cache
PortafolioNet/PortafolioNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.vshost.exe.manifest
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.vshost.exe.config
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.vshost.exe
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.pdb
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.exe.config
PortafolioNet/PortafolioNet/bin/Debug/PruebaConexionNET.exe
PortafolioNet/PortafolioNet/bin/Debug/Oracle.ManagedDataAccess.dll
PortafolioNet/PortafolioNet/obj/Debug/PortafolioNet.Data.csproj.CoreCompileInputs.cache
PortafolioNet/PortafolioNet.View/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PortafolioNet/PortafolioNet.View/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PortafolioNet/PortafolioNet.View/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PortafolioNet/PortafolioNet.View/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PortafolioNet/PortafolioNet.View/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
PortafolioNet/PortafolioNet.View/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
PortafolioNet/PortafolioNet.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PortafolioNet/PortafolioNet.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PortafolioNet/PortafolioNet.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PortafolioNet/PortafolioNet.Business/obj/Debug/PortafolioNet.Business.csproj.CoreCompileInputs.cache
PortafolioNet/PortafolioNet.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PortafolioNet/PortafolioNet.View/obj/Debug/PortafolioNet.View.csproj.CoreCompileInputs.cache
*.dll
*.cache
PortafolioNet/PortafolioTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PortafolioNet/PortafolioTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PortafolioNet/PortafolioTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
